<h1>Edit Dojo</h1>

<form action='/update/<%= @dojo.id%>' method="POST">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
	<input type="hidden" name="_method", value="patch">
	Branch:<input type="text" name="branch" value="<%= @dojo.branch %>">
	City:<input type="text" name="city" value="<%= @dojo.city %>">
	Street:<input type="text" name="street" value="<%= @dojo.street %>">
	State<input type="text" name="state" value="<%= @dojo.state %>">
	<input type="submit" value="Update">
</form>