<h2><%= @dojo.city %> Dojo</h2>
<br>
Address: <%= @dojo.street %>
<p>City: <%= @dojo.city %>&nbsp&nbsp State: <%= @dojo.state %></p>
<p><a href="/">Home</a> | <a href="/dojos/<%= @dojo.id %>/edit">Edit</a></p>